includes:
  - phpstan-drupal.neon

parameters:
  level: 10
  reportUnmatchedIgnoredErrors: false
  treatPhpDocTypesAsCertain: false
  inferPrivatePropertyTypeFromConstructor: true
  scanDirectories:
    - vendor/drush/drush
  paths:
    - web/modules/custom
  shipmonkDeadCode:
    detect:
      deadMethods: true
      deadConstants: true
      deadEnumCases: true
    usageProviders:
      phpunit:
        enabled: false
  banned_code:
    non_ignorable: false
  ignoreErrors:
    - rawMessage: 'Should not use node with type "Expr_Empty", please change the code.'
