includes:
  - phpstan-drupal.neon

parameters:
  level: 10
  reportUnmatchedIgnoredErrors: false
  treatPhpDocTypesAsCertain: false
  inferPrivatePropertyTypeFromConstructor: true
  scanDirectories:
    - vendor/drush/drush
  paths:
    - phpstan
    - web/modules/custom
  excludePaths:
    - **/tests/*
  shipmonkDeadCode:
    detect:
      deadMethods: true
      deadConstants: false
      deadEnumCases: true
    usageProviders:
      phpunit:
        enabled: false
  strictRules:
    disallowedEmpty: false
    strictArrayFilter: false

services:
  -
    class: App\PHPStan\DrupalMemberUsageProvider
    tags:
      - shipmonk.deadCode.memberUsageProvider
