# Ignore all (private).
*

# Don't ignore public files.
!.gitignore
!README.md
!drush.services.yml
!jpf_algo.info.yml
!jpf_algo.install
!jpf_algo.services.yml
!src/
!src/Commands/
!src/Commands/MockCommands.php
!src/Entity/
!src/Entity/Prediction.php
!translations/
!translations/jpf_algo.fr.po
