.view-content {
  td {
    .positive {
      color: #57FF57;

      &:before {
        content : '↗ ';
      }
    }

    .negative {
      color: #FF5757;

      &:before {
        content : '↘ ';
      }
    }

    .zero {
      color: #FFFF57;

      &:before {
        content : '= ';
      }
    }
  }
}
