# Ignore all directory (private).
/jean-pyarre/*

# Don't ignore public files.
!/jean-pyarre/static/styles.css
!/jean-pyarre/templates/algo.html
!/jean-pyarre/templates/base.html
!/jean-pyarre/templates/*.example
!/jean-pyarre/jean-pyarre.py
!/jean-pyarre/versions/*.example
